<h1>Version Log for Lugnuts Project</h1>

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Description</th>
      <th>By</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.version %></td>
        <td><%= version.description %></td>
        <td><%= version.by %></td>
        <td><%= version.document %></td>
        <td><%= link_to 'Show', version %></td>
        <td><%= link_to 'Edit', edit_version_path(version) %></td>
        <td><%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a id='new' href=#>New Version</a>
